In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./penguins.csv")
df.head()

  Species  CulmenLength  CulmenDepth  FlipperLength OriginLocation  BodyMass
0  Adelie          39.1         18.7          181.0      Torgersen    3750.0
1  Adelie          39.5         17.4          186.0      Torgersen    3800.0
2  Adelie          40.3         18.0          195.0      Torgersen    3250.0
3  Adelie           NaN          NaN            NaN      Torgersen       NaN
4  Adelie          36.7         19.3          193.0      Torgersen    3450.0

In [3]:
df['Species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Species         150 non-null    object
 1   CulmenLength    148 non-null    float64
 2   CulmenDepth     148 non-null    float64
 3   FlipperLength   148 non-null    float64
 4   OriginLocation  150 non-null    object
 5   BodyMass        148 non-null    float64
dtypes: float64(4), object(2)
memory usage: 7.2+ KB

In [5]:
df.describe()

       CulmenLength  CulmenDepth  FlipperLength     BodyMass
count    148.000000   148.000000     148.000000   148.000000
mean      45.089865    17.377703     199.277027  4186.486486
std        5.385578     2.072129      14.160797   817.476925
min       34.100000    13.100000     172.000000  2700.000000
25%       40.500000    15.700000     187.750000  3550.000000
50%       46.100000    17.800000     196.000000  3950.000000
75%       49.350000    18.900000     212.250000  4681.250000
max       59.600000    21.500000     230.000000  6300.000000

In [6]:
print(df[df.isna()==False])

    Species  CulmenLength  CulmenDepth  FlipperLength OriginLocation  BodyMass
0    Adelie          39.1         18.7          181.0      Torgersen    3750.0
1    Adelie          39.5         17.4          186.0      Torgersen    3800.0
2    Adelie          40.3         18.0          195.0      Torgersen    3250.0
3    Adelie           NaN          NaN            NaN      Torgersen       NaN
4    Adelie          36.7         19.3          193.0      Torgersen    3450.0
..      ...           ...          ...            ...            ...       ...
145  Gentoo           NaN          NaN            NaN         Biscoe       NaN
146  Gentoo          46.8         14.3          215.0         Biscoe    4850.0
147  Gentoo          50.4         15.7          222.0         Biscoe    5750.0
148  Gentoo          45.2         14.8          212.0         Biscoe    5200.0
149  Gentoo          49.9         16.1          213.0         Biscoe    5400.0

[150 rows x 6 columns]

In [7]:
df.isna().sum()

Species           0
CulmenLength      2
CulmenDepth       2
FlipperLength     2
OriginLocation    0
BodyMass          2
dtype: int64

In [8]:
def fill_nulls(df):
    mask = df['Species'] == 'Gentoo'
    df.loc[mask] = df.loc[mask].fillna(df.loc[mask].mean(numeric_only=True))

    mask = df['Species'] == 'Adelie'
    df.loc[mask] = df.loc[mask].fillna(df.loc[mask].mean(numeric_only=True))
    
    mask = df['Species'] == 'Chinstrap'
    df.loc[mask] = df.loc[mask].fillna(df.loc[mask].mean(numeric_only=True))
    
    return df

In [9]:
df = fill_nulls(df)

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.head()

,Species,CulmenLength,CulmenDepth,FlipperLength,OriginLocation,BodyMass
0,Adelie,39.10000,18.700000,181.000000,Torgersen,3750.000000
1,Adelie,39.50000,17.400000,186.000000,Torgersen,3800.000000
2,Adelie,40.30000,18.000000,195.000000,Torgersen,3250.000000
3,Adelie,38.82449,18.767347,186.591837,Torgersen,3696.428571
4,Adelie,36.70000,19.300000,193.000000,Torgersen,3450.000000

In [12]:
df['OriginLocation'].value_counts()

OriginLocation
Dream        70
Biscoe       60
Torgersen    20
Name: count, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['OriginLocation'] = encoder.fit_transform(df['OriginLocation'])

In [14]:
df['OriginLocation'].value_counts()

OriginLocation
1    70
0    60
2    20
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Species         150 non-null    object
 1   CulmenLength    150 non-null    float64
 2   CulmenDepth     150 non-null    float64
 3   FlipperLength   150 non-null    float64
 4   OriginLocation  150 non-null    int64
 5   BodyMass        150 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

### run this cell once

In [16]:
import os
# Create folder if it doesn't exist
os.makedirs("processed_data", exist_ok=True)
# Save the DataFrame as CSV inside that folder
df.to_csv("processed_data/processed_data.csv", index=False)
print("Processed data saved successfully in 'processed_data/processed_data.csv'")

Processed data saved successfully in 'processed_data/processed_data.csv'